@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
html{
    font-family: 'Monteserrat';
    font-size: 16px;
}

:root{
    --clr-primary: #acd9b8;
    --clr-secondary-1: #c9a7c9;
    --clr-secondary-2: #f4b363;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Welcome Section */
.boldtitle{
    width: 100%;
    height: 100vh;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    color: white;
}
.boldtitle h1{
    font-size: 80px;
    font-weight: 500;
}


/* Default Settings for Sections and Containers */
section{
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-secondary-1);
}
.container{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}


/* Intro Section, Two Overlapping Panels */
.left{
    width: clamp(200px, 50%, 400px);
    height: 500px;
    background: url(./images/pfp2.jpeg) no-repeat center top / cover;
    border-radius: 8px;
}
.right{
    width:50%;
    min-height: 250px;
    background-color: var(--clr-secondary-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin-left: -150px;
}

/* Settings for Art Panel */

.artwork-grid{
  display: grid; 
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'six'
    'one'
    'two'
    'three'
    'four'
    'five';

  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.img3:nth-child(1) {
    grid-area: one;
  }
.img3:nth-child(2) {
grid-area: two;
}
.img3:nth-child(3) {
grid-area: three;
}
.img3:nth-child(4) {
grid-area: four;
}
.img3:nth-child(5) {
grid-area: five;
}
.content3 {
grid-area: six;
}

@media (min-width: 50em){  
    .artwork-grid{
      grid-template-areas: 
        'one six two'
        'three four five';
    }
  }

.img3{
    min-height: 400px;  
    border-radius: 8px;
}
#uno{
    background: url(./artwork/yourlove.JPG) no-repeat center /cover;
}
#dos{
    background: url(./artwork/stuck.JPG) no-repeat center /cover;
}
#tres{
    background: url(./artwork/redfans.JPG) no-repeat center /cover;
}
#cuatro{
    background: url(./artwork/lift.JPG) no-repeat center /cover;
}
#cinco{
    background: url(./artwork/dennys.JPG) no-repeat center /cover;
}
.content3{
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    text-align: center;
    /* margin-left: auto; check back on this */
}
.content3 h1, .right h1{
    font-size: 2.5rem;
    font-weight: lighter;
}
.content3 p, right p{
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

/* Adjusting Layout for Smaller Screens */
@media only screen and (max-width: 768px){
    .container{
        flex-direction: column;
        width: 100%;
        margin: 0 10px;
    }
    .left{
        width: 100%;
        background: url(./images/pfp3.jpeg) no-repeat center top / cover;
    }
    .right{
        width: 80%;
        margin: 0;
        margin-top: -75px;
    }
}