@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
html{
    font-family: 'Monteserrat';
}
.boldtitle{
    width: 100%;
    height: 700px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 81E4BD;
    color: white;
}
.boldtitle h1{
    font-size: 80px;
    font-weight: 500;
}
section{
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9a7c9;
}
.container{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.img3{
    width: 33%;
    height: 400px;  
    border-radius: 8px;
    margin: 0 10px;
}
#uno{
    background: url(./artwork/yourlove.JPG) no-repeat center /cover;
}
#dos{
    background: url(./artwork/stuck.JPG) no-repeat center /cover;
}
#tres{
    background: url(./artwork/redfans.JPG) no-repeat center /cover;
}
#cuatro{
    background: url(./artwork/lift.JPG) no-repeat center /cover;
}
#cinco{
    background: url(./artwork/dennys.JPG) no-repeat center /cover;
}
.content3{
    width: 33%;
    height: 400px;
    margin: 0 10px;
    background-color: #acd9b8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    text-align: center;
    /* margin-left: auto; check back on this */
}
.content3 h1, .right h1{
    font-size: 40px;
    font-weight: lighter;
}
.content3 p, right p{
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}
.left{
    width: 50%;
    height: 500px;
    background: url(./pfp2.jpeg) no-repeat center top / cover;
    border-radius: 8px;
}
.right{
    width:50%;
    min-height: 250px;
    background-color: #f4b363;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin-left: -150px;
}
